<%= form_with(model: attr_output, local: true) do |form| %>
  <% if attr_output.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attr_output.errors.count, "error") %> prohibited this attr_output from being saved:</h2>

      <ul>
      <% attr_output.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
