<div class='m-4'>
<h4>Cross-references</h4>
<ul>
  <% ['GEO Series', 'ArrayExpress Experiment', 'BioProject', 'SRA Study'].each do |it_name| %>
  <li>
    <% identifier_type = @h_identifier_types[it_name] %>
    <%= link_to ((identifier_type.pluralizable) ? identifier_type.name.pluralize : "#{identifier_type.name} items"), identifier_type_path(identifier_type) if identifier_type %>
	</li>
  <% end %> 
</ul>
</div>
