<%= form_with(model: sample_identifier, local: true) do |form| %>
  <% if sample_identifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sample_identifier.errors.count, "error") %> prohibited this sample_identifier from being saved:</h2>

      <ul>
      <% sample_identifier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
