<p id="notice"><%= notice %></p>

<h1><%= session[:settings][:provider_id].to_json %> projects</h1>

<%= render :partial => 'index' %>

<%# link_to 'New Provider Project', new_provider_project_path %>
