<%= form_with(model: cell_ontology_term, local: true) do |form| %>
  <% if cell_ontology_term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cell_ontology_term.errors.count, "error") %> prohibited this cell_ontology_term from being saved:</h2>

      <ul>
      <% cell_ontology_term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
