<%= form_with(model: annot_cell_set, local: true) do |form| %>
  <% if annot_cell_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annot_cell_set.errors.count, "error") %> prohibited this annot_cell_set from being saved:</h2>

      <ul>
      <% annot_cell_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
