<!--<div class='alert alert-danger'>There was a bug in last v5 (beta) docker installation for UMAP. This is fixed now: UMAP runs again in v5 projects.</div> -->
<!--<div class='alert alert-danger'>ASAP is currently in maintenance. The service will be back shortly. Sorry for the inconvenience.</div>-->

