<h1>Editing Project Dim Reduction</h1>

<%= render 'form', project_dim_reduction: @project_dim_reduction %>

<%= link_to 'Show', @project_dim_reduction %> |
<%= link_to 'Back', project_dim_reductions_path %>
