<h2>How to cite us:</h2>

<div class='alert alert-info'>
Vincent Gardeux, Fabrice P.A. David, Adrian Shajkofci, Petra C. Schwalie, Bart Deplancke</br>
<b>ASAP: a web-based platform for the analysis and interactive visualization of single-cell RNA-seq data</b></br/>
<b>Bioinformatics</b>, Volume 33, Issue 19, 1 October 2017, Pages 3123-3125, https://doi.org/10.1093/bioinformatics/btx337
</div>
