<%= form_with(model: fo, local: true) do |form| %>
  <% if fo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fo.errors.count, "error") %> prohibited this fo from being saved:</h2>

      <ul>
      <% fo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
