 var url = "<%= preparsing_fu_path(@fu.id) %>"
 var p = [{'name' : 'metadata_type', 'value' : $("#opt_metadata_type_id").val()}, 
          {'name' : 'input_type', 'value' : $("#opt_input_type_id").val()},
          {'name' : 'version_id', 'value' : $("#opt_version_id").val()}];
 refresh_post("preparsing_clipboard", url, p, 'post', {loading : 'fa-2x'});

<% if @duplicates.size > 0 %>
$("#metadata_warnings").html("<div class='alert alert-warning'>WARNING: <%= @duplicates.size %> duplicates were found (<%= @duplicates.join(",") %>).<br/>Only first line is kept.</div>")
<% end %>
