---
development:
  url: "<%= ENV['DATABASE_URL'].gsub('?', '_development?') %>"
test:
  url: "<%= ENV['DATABASE_URL'].gsub('?', '_test?') %>"
staging:
  url: "<%= ENV['DATABASE_URL'].gsub('?', '_staging?') %>"
production:
  url: "<%= ENV['DATABASE_URL'].gsub('?', '_production?') %>"
data:
  url: "<%= ENV['DATABASE_URL'].gsub('?', '_data_v6?') %>"
  pool: 10
data_v4:
  url: "<%= ENV['DATABASE_URL'].gsub('?', '_data_v4?') %>"
  pool: 10
data_v5:
  url: "<%= ENV['DATABASE_URL'].gsub('?', '_data_v5?') %>"
  pool: 10
data_v6:
  url: "<%= ENV['DATABASE_URL'].gsub('?', '_data_v6?') %>"
  pool: 10
data_tmp:
  url: "<%= ENV['DATABASE_URL'].gsub('?', '_data_v6?') %>"
  pool: 10
