<p id="notice"><%= notice %></p>

<ul id='version_list'>
<% versions = @versions.select{|e| e.activated}.sort{|a, b| b.created_at <=> a.created_at} %>
<% versions.each do |version| %>
<li>
<%= render :partial => 'show', :locals => {:version => version} %>
</li>
<% end %>
</ul>

<%= link_to('New Version', new_version_path) if admin? %>

