<%= form_for(diff_expr) do |f| %>
  <% if diff_expr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diff_expr.errors.count, "error") %> prohibited this diff_expr from being saved:</h2>

      <ul>
      <% diff_expr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
