<%= form_with(model: selection, local: true) do |form| %>
  <% if selection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(selection.errors.count, "error") %> prohibited this selection from being saved:</h2>

      <ul>
      <% selection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
