<%= form_with(model: normalization, local: true) do |form| %>
  <% if normalization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(normalization.errors.count, "error") %> prohibited this normalization from being saved:</h2>

      <ul>
      <% normalization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
