// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "variables";
@import "bootstrap";
@import "bootstrap3-switch";
@import 'fontawesome-all';
//@import "./fontawesome/scss/fontawesome.scss";
//@import "./fontawesome/scss/solid.scss";
//@import "./fontawesome/scss/brands.scss";
//@import 'font_awesome5.css';

@font-face {
  font-family: "af";
  src: url(/assets/af.woff) format("woff");
}

#main {margin-bottom:100px; margin-top:65px;}
.main_container {margin-right:15px;margin-left:15px}
#main_header {padding:0px;padding-left:5px; padding-right:5px; height:50px}
#main_footer {position:fixed; bottom:0px; width:100%;background-color:#FAFAFA;}
#main_footer table {width:100%}
#footer {margin-bottom:50px;text-align:center}
.wrap-text {
    word-break: break-word;
  }

/* GENERAL PURPOSE */

.nobullets {list-style-type:none}


 .legend-item {
        margin-bottom: 10px;
      }

      .legend-dot {
        display: inline-block;
        width: 10px; /* Adjust the size of the dots as needed */
        height: 10px;
        border-radius: 50%;
        margin-right: 5px; /* Adjust the space between the dot and the text */
      }

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.hidden {display:none}
.pointer {cursor:pointer} 
.cursor-help {cursor:help}
.clear {clear:both}
.wrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
   word-break: break-word;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.nobullet {list-style-type: none}
.white-bg {background-color:white}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container2 {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* plotly */
#dr_plot .modebar {z-index:9}

/* Extension icons */

.scatter_plot_icon {font-family: af; content: a;}
/* scatter_plot_icon.svg */

/* styling some fontawesome icons */

.warning-icon {color:red;}

/* NAV */

/* TUTORIALS */
.link-sm{
cursor:pointer;
color:blue
}
.tuto-image {
  display: block;
 margin-bottom:2em;
 margin-top:2em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.sm {margin-top:1em;margin-bottom:1em}

#tuto-menu {
  position:fixed;
  z-index:10;
  background-color:white
}

/* VERSIONS */

#version_list li {
    list-style-type: none;
}

/* FAQ */

.faqHeader {
    font-size: 27px;
    margin: 20px;
}


/* CARD DECKS */

@each $name, $breakpoint in $grid-breakpoints {
      @media (min-width: $breakpoint) {

             .card-deck .card_std {
                              flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
                                    }             
	     .card-deck .card_sum {
                              flex: 0 0 calc(#{100/map-get($cards-per-line_sum, $name)}% - #{$grid-gutter-width});
                                    }

	}
}

@each $name, $breakpoint in $grid-breakpoints {
#cell_filtering_card-deck .card {
                              flex: 0 0 calc(#{100/map-get($plot_cards-per-line, $name)}% - #{$grid-gutter-width});
                                    }
}

#cell_filtering_card-deck .card {border-color:red}

#ontop_window {position:fixed;z-index:100020; top:50px; right:0px; left:0px; bottom:0px; border:1px solid grey;
               background-image:url(/assets/grey_transparent.png);}
#ontop_window .title {padding:15px}
.window_close {position:absolute; right:0px; top:0px; font-size:20px; margin-top:5px; margin-right:10px; cursor:pointer; z-index:100030}


#popup_window {
    position: absolute;
    z-index:100000;
    margin-right:15px;
    padding:20px;
    display: none;
    background: #ccc;
    border: 1px solid;
    border-radius: .5rem;
}
#popup_window_close {float:right; font-size:20px; margin-top:-17px; margin-right:-13px; cursor:pointer}

#ontop_popup_window {
    position: absolute;
    z-index:1000000;
    margin-right:15px;
    padding:20px;
    display: none;
    background: #ccc;
    border: 1px solid;
    border-radius: .5rem;
    cursor:hand
}
#ontop_popup_window_close {float:right; font-size:20px; margin-top:-17px; margin-right:-13px; cursor:pointer}

#form_container {margin:10px; height:calc(100% - 100px); padding:15px; overflow-y:scroll; background-color:white}

.shadow-card {
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* .float-left {float:left} */

.download_file_btn {width:130px;margin-bottom:3px}
.download_btn_text {width: 100px;text-align: left;white-space: nowrap;text-overflow: ellipsis}

.centered-card { /*padding: 10px 10px 10px 10px; */
/*  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
 margin: 0 auto; 
   float: none; 
   margin-bottom: 10px;
}

.nowrap {white-space:nowrap}
.nw {white-space:nowrap}
.white-background-btn button{background-color:white; border-color:white}

#method_desc a{
color:blue;
font-decoration:underline
}

label.col-form-label {margin-bottom:0px}
.col-form-label {white-space:nowrap;overflow:ellipsis}
.row {margin-right:0px;margin-left:0px}
.form-group {margin-bottom:1rem}

.form-group2 {
 @extend .form-group;
 margin-bottom:0.3rem
}

.form-control2 {
@extend .form-control;
margin-bottom:0rem}
.form-label {margin-bottom:0}
.card-deck {margin-right:0px;margin-left:0px}
.alert {margin-right:15px; margin-left:15px}
.youtube_link {margin-right:10px}
.fullscreen_form {font-size:12px}

#bold {font-weight:bold}
.bold {font-weight:bold}
.italic {font-style:italic}

.datatable th {
  overflow: hidden; /* this is what fixes the expansion */
  text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
  white-space: nowrap;
}

.datatable td {
  overflow: hidden; /* this is what fixes the expansion */
  text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
  white-space: nowrap;
}

.datatable {
  table-layout: fixed
}

/*.form-control {padding-top:0px;padding-bottom:0px;}*/
.form_checkbox {
  margin-left: 15px;
  margin-right: 5px;
}

@media (max-width: 767px) {

#main {margin-bottom:100px; margin-top:105px;}
#tuto-menu {float:left;margin-top:-55px;padding-top:10px}

}
