/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_tree .   
 *= require dataTables/jquery.dataTables  
 *= require font-awesome
 *= require jquery.fileupload   
 *= require jquery.fileupload-ui 
 *= require trajectory 
 *= require main
*/

.wrappable::after { content: ' ' }

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .675rem;
    line-height  : .5;
    border-radius : .2rem;
} 

.badge-running {
    background-color:orange
}

#infos {width:100%; margin-right:0px; margin-left:0px}
#infos div {padding-left:5px; padding-right:5px}

.hidden {display:none}

.search_btn {cursor:pointer}

.attr_table {width:450px}

.tooltip {z-index:1000000}

.center-pills {
    display: flex;
    justify-content: center;
}

.overflow {
    position:absolute;
    top:0;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    color:#ccc;
    max-width:90%;
}
.overflow p {
    color:#ccc;
    line-height:50px;
    padding:0 10px;
    margin:0;
    display:inline;
}

#dim_reduction_tabs nav ul li a {cursor:pointer}
#about_menu li a {cursor:pointer}

#ontop_window {position:fixed;z-index:100020; top:50px; right:0px; left:0px; bottom:0px; border:1px solid grey; overflow:scroll; 
	       background-image:url(/assets/grey_transparent.png);}
#full_screen_visualization {position:fixed;z-index:100000; top:0px; right:0px; left:0px; bottom:50px; border:1px solid grey; overflow:scroll; background-color:white; overflow:hidden}
#full_screen_visualization div.window_content {margin-top:30px}
div.ontop_window_active {display:block;}
div.ontop_window_inactive {display:none;}

/*#ontop_window {position:absolute;top:200px;left:7px; right:7px; height:50em; z-index:100; border:0px; background-color:white;}*/

#ontop_window.right-sided {height:auto; left:11em; right:0px; width:auto;}
#ontop_window.reload {position:fixed;  top:10px; bottom:10px; left:10px; right:10px}
.window_close {position:absolute; right:0px; top:0px; font-size:20px; margin-top:5px; margin-right:10px; cursor:pointer; z-index:100030}

#form_container {margin:200px; margin-top:50px}

#cart {font-size:.9em; background-color:#dddddd; color:white; position:fixed; z-index:100010; bottom:0px;width:100%; padding:.2em;left:0px}

#popup_window {
    position: absolute;
    z-index:100000;
    margin-right:15px;
    padding:15px;
    display: none;
    background: #ccc;
    border: 1px solid;
}
#popup_window_close {float:right; font-size:20px; margin-top:-19px; margin-right:-10px; cursor:pointer}

#popup_window3 {
    position: absolute;
    z-index:100000;
    margin-right:15px;
    padding:15px;
    display: none;
    background: #ccc;
    border: 1px solid;
}
#popup_window_close3 {float:right; font-size:20px; margin-top:-19px; margin-right:-10px; cursor:pointer}

#popup_window2 {
    position: fixed;
    z-index:100009;
    bottom:0px;
    padding:15px;
    margin-right:15px;
    padding-bottom:50px;
    display: none;
    background: #ccc;
    border: 1px solid;
}
#popup_window_close2 {float:right; font-size:20px; margin-top:-19px; margin-right:-10px; cursor:pointer; z-index:2000000}

.title_popup {white-space:nowrap;font-weight:bold}

#dim_reduction_tabs li {cursor:pointer}

#visualization_form{ margin-bottom: 10px}
#visualization_container{}


/*#edit_project {color:blue; cursor:pointer}*/

#pipeline {z-index:20000;}
#project_label {vertical-align:top;margin-top:-10px}

/*#navbar {z-index:30000}
#navbar ul {z-index:30000}
#navbar ul li {z-index:30000}
*/
.list_genes {cursor:pointer}
.list_pathways {cursor:pointer}

.small {font-size:9px}

.version_header {font-size:14px;font-weight:bold}

.de_selection {cursor:pointer}

#js-file-container {width:100%}
#js-file-container td {padding:15px}
/*.btn-dark { color: #CCCCCC; border-color: #000000; background-color: #333333;
.btn-dark:hover { color: #DDDDDD; border-color: #000000; background-color: #333333; }*/

#main_footer {position:fixed; bottom:0px; width:100%;background-color:#FAFAFA;}
#main_footer table {width:100%}

#footer {margin-bottom:50px;text-align:center}
.clear {clear:both}

#version_list li {
    list-style-type: none;
}
.faqHeader {
    font-size: 27px;
    margin: 20px;
}
.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.sel_container {
float:left;
width:50%;
}

.selection_container {
background-color:#dddddd; color:white; position:fixed; z-index:1000; bottom:0px;width:100%; padding:.2em;margin-bottom:35px;left:0px
}

.cart_category {
display:inline-block;
color:black;
font-size:14px;
font-weight:bold;
/*margin-top:30px*/
}

#point_details {
position:fixed;
z-index:100000;
/*border:1px solid black;*/
background-color:white;
padding:10px
}

#heatmap_container{
margin-top:10px;
margin-bottom:30px;
margin-left:20px;
/*z-index:10000;*/
}

.windowed {
float:left;
margin-bottom:50px;
width:45%;
}

.full_screen{
width:100%;
}

#full_screen_container{
width:100%
}
#full_screen_plot_container{
float:left;
}
#full_screen_plot_widgets{
float:left;
width:10px
}

ul#list_formats{
list-style: none;
}

.panel-formats .panel_container{
padding:20px
}

.panel_container table tr td{
padding:20px;
vertical-align:top;
}


#div_correlation_widgets select{
margin-right:50px
}

.tutorial-img{
text-align:center
}

.tutorial-img img{
width:75%
}

#method_desc a{
color:white;
}

.recommended {
color:orange
}

#download_heatmap {
margin:5px;
}

#download_heatmap tr td {
padding:5px
}

#gene_name_list {
    position:absolute;
    margin-left:415px;
    padding:0px;
    list-style:none;
    border:1px solid black;
    z-index:100000
}

#gene_name_list li{
padding:2px;
cursor:pointer;
color:grey;
background-color:white;
}

#gene_name_list li.highlight {
   background-color:#EEEEEE;
   color:black;
}

/*
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}*/
/* hack bootstrap */

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

#share_table tr td {
padding:5px
}
#share_table tr th {
padding:5px
}

