/* General */

.margin {margin-left:15px;margin-right:15px}

.loading {display: table-cell;vertical-align:middle; align-items: center; min-height:500px}
.loading-content {display:inline-block; text-align:center; width:100%}
.loading_text {font-style: italic; margin:10px}

.loading-step{margin-top:200px}

.info-btn {margin-top:-10px; cursor:pointer}

.show_run_link {color:blue;text-decoration:underline}

#project_header {
 z-index:10;
 background-color:#2e353d;
 position:fixed;
 top:45px;
 left:0px;
 width:300px;
 height:80px;
 text-align:left
}

.step_title_fixed {
  position:fixed; 
  z-index:10; 
  top:50px; 
  width:100%; 
  background-color:#ECECEC;
  margin-bottom:15px;
  margin-left:0px; 
  margin-right:0px;
  padding:10px; 
  font-size: 16px;
  border-left:5px solid #999999
}
.step_title {
  width:100%;
  background-color:#ECECEC;
  margin-top:-15px;
  margin-bottom:15px;
  margin-left:0px;
  margin-right:0px;
  padding:10px;
  font-size: 16px;
  border-left:5px solid #999999
}

/* NEW PROJECT */

#js-file-container {width:100%}
#js-file-container td {padding:15px}

#project_name {
	      border-color:#dc3545;
	      }

#opt_input {width:100%; text-align:center;margin-bottom:15px;}
#opt_input .btn-group .choice_btn{width:250px}
.hca_filter_badge {cursor:pointer}
.total_nber_cells {font-size: 16px;color:green}


 .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
        } 
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }
.ui-menu-item .n {float:right}


.box_icon{
 width: 100%;
 height: 80px;
 fill: #92b0b3;
 display: block;
/* margin-bottom: 40px*/
}

#dropzone {
    background:#c8dadf;
    color:#0f3c4b;
    height:300px;
    margin-left:0px;
    margin-right:0px;
    border: 2px dashed #0f3c4b;
    line-height: 50px;
    text-align: center;
    vertical-align:middle;
    font-weight: bold;
}
#dropzone.in {
 border: 2px solid #0f3c4b;
}


/*COMMENTED 
#dropzone.hover {
 border: 2px solid #0f3c4b;
}
*/

#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

#list_datasets {}

#summary_dataset {border-collapse:collapse}
#summary_dataset td {padding:5px;border-bottom:1px solid #DDDDDD; border-top:1px solid #DDDDDD}
#preview {margin-top:15px;margin-right:15px;margin-left:15px}
#preview_table{}
.imputed_name {font-style:italic;color:grey}
.datatable {}
.datatable td.gene_name {background-color:#feebd0}
.datatable th.cell_name {background-color:#eed0fe}

.gene_label {color:#fb9b11}
.cell_label {color:#b411fb}

/* Project Summary */

.cy {
  width: 100%;
  height: 80vh;
  background-color: #eee;
}

.grid_container {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
}

/* ADD_METADATA */

.preview_table_container {
width:100%;
overflow-x:scroll
}

/* NEW analysis btn */

#card_new_analysis {border:0}


/* FILTER runs */


#possible_lineage_runs optgroup option {font-style:italic}
.children_lineage_run {background-color:#b5fa75;font-style:normal}

/* FORM select input data */

/*.badge-loomfile {cursor:pointer;backgroun-color:#EE82EE} */

/* NEW CELL FILTERING FORM */

#cell_filtering_header {background-color:#EEEEEE; border-color:grey; position:fixed; top:89px; left:300px; right:0px; z-index:100; padding:10px }

#cell_filtering_form_container .modebar{
  z-index:1
}

/* NEW ANALYSIS FORM */

.unavailable_method{
color:red
}

#new_analysis_form_detach{ padding:5px}

#new_analysis_form {
z-index:10001;
position:fixed;
width:600px;
max-width:1000px;
min-width:300px;
max-height:calc(100% - 110px);
/*min-height:200px; */
height:calc(100% - 110px);
top:100px;
right:-600px;
border-color:grey
}

#new_analysis_form_content {
overflow-y:scroll;
overflow-x:hidden
}

/*#new_analysis_form_content .actions {
margin-bottom:10px
}
*/
/* Project menu */

#project_details {color:#DDDDDD;position: fixed; font-size:11px;top:90px;left:15px;}
#project_title {color:#DDDDDD;float:left;display:block;width:200px;margin-top:10px;overflow:hidden;text-overflow:ellipsis;box-sizing:border-box;white-space:nowrap;margin-left:15px}
#shared_by {color:#d0dd74;display:block;float:left;width:230px;overflow:hidden;white-space:nowrap}
#annotation_buttons {position: fixed; top:100px;left:15px}
.step_status {float:right; margin-right:10px}
.success-icon {color:white;background-color:rgb(40, 167, 69);}
.failed-icon {color:white;background-color:#dc3545}
.stopped-icon {color:white;background-color:#dc3545}
.running-icon {color:white}
.success-icon2 {color:rgb(40, 167, 69);}
.running-icon2 {color:rgb(23, 162, 184);}
.failed-icon2 {color:#dc3545;}
.stopped-icon2 {color:#dc3545;}

#project_container {
margin-left:300px;
margin-top:-55px;
width: calc(100% - 300px)
}

/*
COMMENTED
#split_header{
position:fixed;
z-index:10;
top:45px;
left:300px;
padding:5px;
border-left:3px solid grey;
background-color:#DDDDDD;
width: calc((100% - 280px) / 4)
}

#split_header.fullscreen{
width: calc(100% - 280px)
}

#split_header .title{
font-size:14px;
font-weight:bold;
vertical-align:middle;
padding:5px;
}
*/


#step_header{
border-left:3px solid grey;
padding:5px;
padding-right:15px;
background-color:#eaeaea;
z-index:10
}

#step_header_fixed{
position:fixed;
z-index:10;
top:50px;
left:300px;
padding:5px;
padding-right:15px;
border-left:3px solid grey;
background-color:#DDDDDD;
width: calc(100% - 280px) 
}

.step_header .right-buttons {
float:right;
margin-right:10px
}

.step_header.split{
left:calc(300px + (100% - 280px) / 4);
width: calc((100% - 280px) * 3 / 4)
}

.step_header .title{
font-size:14px;
font-weight:bold;
vertical-align:middle;
padding:5px;
}

#step_header{
display:none;
}
#step-margin{
margin-top:140px
}

#right-menu-btn_container{
float:right;
margin-right:30px;
}
#right-menu{
position:fixed;
top:80px;
right:0px;
width:200px;
background-color:black;
z-index:10;
}

#right-menu ul,
#right-menu ul li {	
  list-style: none; 
  padding: 0px;
  color:white;
  margin: 0px;
  line-height: 35px;
  background-color: #4f5b69;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}

#right-menu ul li {padding-left:10px}


/* COMMENT Place all the styles related to the Projects controller here.
 They will automatically be included in application.css.
 You can use Sass (SCSS) here: http://sass-lang.com/
*/


#left_menu .menu_item{
padding:8px;
background-color:#4f5b69;
color:white;
border-top:1px solid #2e353d;
/*border-bottom:1px solid #2e353d;*/
}

#menu_pre-treatment {margin-top:10px}


/* COMMENT #menu-content {background-color:#2e353d} */

.nav-side-menu {
  overflow: auto;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 125px;
  left:0px;
  width: 300px;
  height: calc(100% - 125px);
  color: white;
 margin-top:0px;
 z-index:8
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li.list-group-item {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
   color: white;
  background-color: #4f5b69;

  /* COMMENT    
    .collapsed{
       .arrow:before{
                 font-family: 'Font Awesome 5 Free';
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/

}


/* COMMENT
#left_menu.nav-side-menu li.list-group-item {
  padding-left:10px;
}

#left_menu.nav-side-menu li.list-group-item.disabled {
  color:#aaaaaa
}

#left_menu.nav-side-menu li.list-group-item.disabled:hover {
   border-left: 3px solid grey;
}
*/

.menu_report.active {border-left-color: #6bc9fe; background-color:  #356b71 }
.menu_metadata.active {border-left-color: #fca854 }
.menu_parsing.active {border-left-color: #bf4ffa}
.menu_pre-treatment.active { border-left-color: #3785fd }
.menu_visualization.active { border-left-color: #6bfea9; background-color: #35714e }
.menu_analysis.active { border-left-color:  #fe6b75; background-color:  #71353d }
.report_submenu li { border-left-color: #6bc9fe }

/*#left_menu .menu-item { cursor:pointer} */

/* COMMENT ?
.nav-side-menu ul,
.nav-side-menu li.list-group-item:disabled {
   color: #aaaaaa;
background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease
}

.nav-side-menu ul li:before,
.nav-side-menu li:before {
  font-family: 'Font Awesome 5 Free';
  color:#CCCCCC;
  content: "\f054";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
*/
/* COMMENT
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li.list-group-item :not(collapsed) .arrow:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
*/

.nav-side-menu ul .active,
.nav-side-menu li.list-group-item .active {
  padding-left:10px;
  border-left-width:3px
}
.sub-menu li.active,
.sub-menu li.active {
}
.sub-menu li.active a,
.sub-menu li.active a {
}

.sub-menu li,
.sub-menu li {
  background-color: #eaeaea;
  color:black; 
  border-left:3px solid;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.sub-menu li:before,
.sub-menu li:before {
  font-family: 'Font Awesome 5 Free';
  font-weight:900;
  content: "\f054";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}


.nav-side-menu li.list-group-item {
  padding-left: 0px;
  border-left-width: 3px; /* solid #2e353d;*/
  border-bottom: 1px solid #23282e;
}

/* COMMENT
.nav-side-menu li.list-group-item a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li.list-group-item a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li.list-group-item:hover {
  border-left: 3px solid #d19b3d;
   color: #e1ffff;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.nav-side-menu li.list-group-item:disabled:hover {
  border-left: 3px solid #dddddd;
   color: #e1ffff;
background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
*/

/*
COMMENT ?
.menu-list {
 margin-top:0px;
 z-index:100
}*/

/* buttons */

#clone_button {cursor:pointer}
#edit_project {cursor:pointer}

/* list of runs */

.top-right-buttons {float:right}


/* Index of projects */

.job_list {margin-top:50px; width:100%; border-collapse:collapse; table-layout:fixed;}

.job_list tr th {vertical-align:top; padding-right:5px; overflow:hidden;text-align:center}
.job_list tr td {vertical-align:top; padding-right:5px; border-top:1px solid #CCCCCC; padding-bottom:5px; padding-top:5px; overflow:hidden;text-align:center}

table.job_list td.status_cell{
 text-align:left;padding-left:5px
}

table.job_list td span.project_name{
width:50px;
white-space: nowrap;
overflow:ellipsis;
}

/* COMMENT
table.job_list td.email{
width:300px;
white-space: nowrap;
overflow:ellipsis;
}
*/
/* FORM - select datasets */

.select_input_data-btn {margin-right:15px;vertical-align:top}
#run_list {margin-top:10px}
#run_list .card {margin-bottom:10px}

.selected_run {background-color:green}
.nber_runs {font-size:18px; color:green}

/* FORM */

.vert_element {margin-top:10px; width:100%}
.form-inline label {justify-content:left}
#attrs_container {width:100%}

.std_form_checkbox {margin-right:5px}
.actions {margin-top:10px; margin-left:15px}

/* LIST_RUNS - DASHBOARD */

.btn_destroy-run {cursor:pointer}
#list_runs {margin-top:10px}

.run_card {cursor:pointer}
.sub-run_card {font-style:italic; text-decoration:underline; font-weight:bold; font-size:12px; margin-left:-5px}

/* STEP GENERAL */

#step_container {min-height:500px}

/* FILTERING */

#gene_filtering_step_container.modebar{
      display: none !important;
}

#filtering_header {
    border-bottom:1px solid #0000ff;
    background:#cccccc;
    padding:10px 10px;
    position:fixed;
    font-family: Arial;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
}

#step_content {
margin:15px
}

/* DIMENSION REDUCTION */

.list_genes_container {position:relative}

#cat_legend {width:100%}

#cat_legend_table tr td { vertical-align:top}

#plot_container {height:100%}

#plot_btns {position:fixed; bottom:15px; right:35px; z-index:500}
#left_plot_btns {position:fixed; bottom:15px; left:335px; z-index:500}

#plot_options_btn {}
#plot_clusters_btn {}

#plot_options_window {
z-index:10000;
position:fixed;
width:600px;
max-width:1000px;
min-width:300px;
max-height:calc(100% - 110px);
/* min-height:200px; */
/* height:calc(100% - 110px); */
top:150px;
bottom:10px;
right:-600px;
border-color:grey
}
#plot_annotation_window {
z-index:11000;
position:fixed;
width:600px;
max-width:1000px;
min-width:300px;
max-height:calc(100% - 110px);
/* min-height:200px; */
/* height:calc(100% - 110px); */
top:150px;
bottom:10px;
right:-600px;
border-color:grey
}

#plot_options_content {
overflow-y:scroll;
overflow-x:hidden
}

#plot_annotation_content {
overflow-y:scroll;
overflow-x:hidden
}


.plot_option_category {
font-weight:bold;
padding:5px
}


@media (max-width: 992px){
#main-nav {background-color:black;padding:1em;}
#main-nav li {padding-left:0.5em;margin-top:0.2em}
}

@media (max-width: 767px) {

#project_details {color:#DDDDDD;position: fixed; font-size:11px;top:55px;left:100px;}
#annotation_buttons {position: fixed; top:90px;left:10px}
  .nav-side-menu {
    position:relative;
    top:35px;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
#project_container {
top:0px;
left:0px;
position:relative;
margin-left:0px;
/*margin-top:50px;*/
width:100%
}

#project_header {
 position:fixed;
 z-index:10;
 top:40px;
 left:0px;
 width:100%;
  height:100px;
 text-align:left
}

#step_header_fixed{
display:none
}
#step_header{
display:block;
}
#step-margin{
display:none
}

/* COMMENT
#step_header{
position:fixed;
z-index:10;
top:120px;
left:0px;
padding:5px;
border-left:3px solid grey;
background-color:#DDDDDD;
width:100%
}
*/

/* FORM */

.horiz_element{margin-top:10px}

}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
