<%= form_with(model: docker_patch, local: true) do |form| %>
  <% if docker_patch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(docker_patch.errors.count, "error") %> prohibited this docker_patch from being saved:</h2>

      <ul>
      <% docker_patch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
